<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <!--<appender-ref ref="SmtpAppender"/>-->
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="ColoredConsoleAppender"/>-->
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs/run.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日志类：%c [%x] %n%m %n" />
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--E卡通设置项-->
    <add key="SIOS_IP" value="211.87.190.88"/>
    <add key="SYS_CODE" value="89"/>
    <add key="TERMINAL_NO" value="21"/>
    <add key="CardReaderIntervel" value="1"/>
    <!--开启只缴纳一个月开关，如果要开启多个月的开关，取值为MULTIPLE-->
    <add key="MODE" value="SINGLE"/>
    <!--是否验证模版套餐配置-->
    <add key ="CheckTempPack" value="true"/>
    <!--不支持的模版，用|分割-->
    <add key="TemplateList" value="教工校园网模版2（同步）"/>
    <!--不支持的套餐列表-->
    <add key="PackageList" value="教工同步用户组2"/>
    <!--切换时间-->
    <add key="TIME_OUT" value="6"/>
    <!--是否下载补助-->
    <add key="CHECK_SUB" value="true"/>
    <!--每月收费金额，单位元，如果小数点，保留两位小数-->
    <add key="COST_MONTH" value="0.01"/>
    <!--SAM设置-->
    <add key="svcUrl" value="http://121.251.251.210:8080/sam/services/samapi?wsdl"/>
    <add key="samIP" value="121.251.251.210"/>
    <add key="samPORT" value="12567"/>
    <add key="sam_username" value="yikatong"/>
    <add key="sam_password" value="yikatong@upc"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
