<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAMAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CAMAPI.Properties.Settings>
            <setting name="CAMAPI_WebReference_SamService" serializeAs="String">
                <value>http://172.16.40.212:8080/sam/services/samapi</value>
            </setting>
        </CAMAPI.Properties.Settings>
    </applicationSettings>
</configuration>